[package]
name = "cdrs-tokio"
version = "8.0.0-beta.1"
authors = ["Alex Pikalov <alex.pikalov.khar@gmail.com>", "Kamil Rojewski <kamil.rojewski@gmail.com>"]
edition = "2018"
description = "Async Cassandra DB driver written in Rust"
documentation = "https://docs.rs/cdrs-tokio"
homepage = "https://github.com/krojew/cdrs-tokio"
repository = "https://github.com/krojew/cdrs-tokio"
readme = "../README.md"
keywords = ["cassandra", "driver", "client", "cassandradb", "async"]
license = "MIT/Apache-2.0"

[features]
rust-tls = ["rustls", "tokio-rustls", "webpki"]
e2e-tests = []
derive = ["cdrs-tokio-helpers-derive"]
http-proxy = ["async-http-proxy"]

[dependencies]
arc-swap ="1.4.0"
atomic = "0.5.1"
bytes = "1.1.0"
cassandra-protocol = { path = "../cassandra-protocol", version = "3.0.0-beta.1" }
cdrs-tokio-helpers-derive = { path = "../cdrs-tokio-helpers-derive", version = "5.0.1", optional = true }
derive_more = "0.99.17"
derivative = "2.1.1"
futures = { version = "0.3.21", default_features = false, features = ["alloc"] }
fxhash = "0.2.1"
itertools = "0.10.3"
lazy_static = "1.4.0"
rand = "0.8.5"
serde_json = "1.0.81"
thiserror = "1.0.31"
tokio = { version = "1.19.2", features = ["net", "io-util", "rt", "sync", "macros", "rt-multi-thread", "time"] }
tokio-rustls = { version = "0.23.4", optional = true }
tracing = "0.1.35"
uuid = "1.0.0"
webpki = { version = "0.22.0", optional = true }

[dependencies.async-http-proxy]
version = "1.2.5"
optional = true
features = ["runtime-tokio", "basic-auth"]

[dependencies.rustls]
version = "0.20.6"
optional = true
default-features = false

[dev-dependencies]
float_eq = "1.0.0"
maplit = "1.0.0"
mockall = "0.11.1"
lazy_static = "1.4.0"
regex = "1.5.6"
uuid = { version = "1.0.0", features = ["v4"] }
time = { version = "0.3.9", features = ["std", "macros"] }

[[example]]
name = "crud_operations"
required-features = ["derive"]

[[example]]
name = "generic_connection"
required-features = ["derive"]

[[example]]
name = "insert_collection"
required-features = ["derive"]

[[example]]
name = "multiple_thread"
required-features = ["derive"]

[[example]]
name = "paged_query"
required-features = ["derive"]

[[example]]
name = "prepare_batch_execute"
required-features = ["derive"]
